{% extends 'base.html' %}


{% block title %}
    Home
{% endblock title %}
    

{% block body %}
 <style>
  html, body,  .banner{
    position: relative;
    /* overflow: hidden; */
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/37.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
  }
  .banner .mask {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    background-attachment: fixed;
  }
  .banner{
    height: 100vh;

  }
 </style>
<header>
  <section  class="banner">
    <div class="mask">
      <div class="container h-100 d-flex justify-content-center align-items-center">

      <div class="card search-doctor-baner">
        <div class="card-body text-center">
          
          <div class="row g-3">
            <div class="col-sm-3">
              <div class="form-outline text-danger">
                <input type="text" id="form10Example1" class="form-control" />
                <label class="form-label text-danger" for="form10Example1"><i class="fas fa-stethoscope mx-2"></i> Specializations</label>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-outline text-success">
                <input type="text" id="form10Example1" class="form-control text-success " />
                <label class="form-label text-success" for="form10Example1"><i class="fas fa-user-doctor mx-2"></i>Doctor Name</label>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-outline">
                <input type="text" id="form10Example2" class="form-control text-primary" />
                <label class="form-label  text-primary" for="form10Example2"><i class="fas fa-map-location-dot mx-2"></i>City or Government</label>
              </div>
            </div>
            
            <div class="col-sm-3">
              <div class="form-outline">
                <input type="text" id="form10Example3" class="form-control text-info" />
                <label class="form-label text-info" for="form10Example3"><i class="fas fa-map-pin mx-2"></i> State or Area</label>
              </div>
            </div>
            <button type="button" class="btn btn-primary"><i class="fas fa-magnifying-glass mx-4"></i>Search</button>
            
          </div>
  
        </div>
      </div>
    
      </div>
    </div>
    
  
  </section>
</header>

<main class="bg-white" style="height: 1000px;">
  
</main>



{% endblock body %}
    