{% extends 'base.html' %}


{% block title %}
    {{specialization.name}}
{% endblock title %}


{% block body %}


<section style="background-color: #eee;">
    <div class="container-fluid py-5">
      <div class="row justify-content-space-between mb-5">

        <div class="col-lg-2 col-sm-12 my-4">
            <div class="position-relative bg-white p-3 rounded default-bx-shadow  my-3">
                {% for government in governments %}
                  <div class="form-check">
                    <input onchange="filterGovernments()" class="form-check-input" type="checkbox" value="{{government.id}}" name="government" id="flexCheck{{government.id}}" {% if not government.DocCount %}disabled{% endif %}/>
                    <label class="form-check-label" for="flexCheck{{government.id}}">{{government.name}} <span class="text-muted">({{government.DocCount}})</span></label>
                  </div>
                {% endfor %}
            </div>
        </div>
        


        <div class="col-lg-8 col-sm-12  my-4" id="docList">

  
            {% if doctors %}
                {% for doctor in doctors %}
                <div class="d-flex position-relative bg-white p-3 rounded default-bx-shadow my-3">
                    <img
                        src={{doctor.image.url}}
                        class="flex-shrink-0 me-3"
                        style="max-width: 12rem"
                        alt="hollywood sign"
                    />
                    <div>
                    <h5 class="mt-0 mb-3">{{doctor.user.username}}</h5>
                    <span class="text-muted my-3">{{doctor.bio}}</span>
                    <p class="my-3">
                       {{doctor.coverletter}}
                    </p>
                    <a href="{% url 'accounts:profile' doctor.user.uuid %}" class="btn btn-primary stretched-link mt-3"> Checkout and Book <i class='mx-1 fas fa-angles-right'></i></a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h1 class="text-center "> No doctors added yet</h1>
            {% endif %}


        </div>


        <div class="col-lg-2 d-sm-0  my-4">
            <div class="position-relative bg-white p-3 rounded default-bx-shadow  my-3">
                
                
                    
            </div>
        </div>


    </div>
    </div>
</section>
    
<script>
   async function  filterGovernments (){
        var checkedBoxes = document.querySelectorAll('input[name=government]:checked');
        var docList = document.getElementById("docList") ;
        docList.innerHTML = `
        <div class="d-flex justify-content-center position-relative bg-white p-3 rounded default-bx-shadow my-3">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div> 
        </div> `

        params = {"governments":checkedBoxes}
        url = new URL("http://127.0.0.1:8000/doctors-goverments/");
        checkedBoxes.forEach(key => {
            url.searchParams.append("government",  key.value)
        })
        
        var res = await fetch(url)
        var data = await res.json()
        if(data.doctors.length){
            docList.innerHTML = ``
            data.doctors.forEach(e=>{
                docList.innerHTML +=`
                <div class="d-flex position-relative bg-white p-3 rounded default-bx-shadow my-3">
                    <img
                        src=http://127.0.0.1:8000/media/${e['image']}
                        class="flex-shrink-0 me-3"
                        style="max-width: 12rem"
                        alt="hollywood sign"
                    />
                    <div>
                    <h5 class="mt-0 mb-3">${e['username']}</h5>
                    <span class="text-muted my-3">${e['bio']}</span>
                    <p class="my-3">
                        ${e['coverletter']}
                    </p>
                    <a href="/${e['user_id']}" class="btn btn-primary stretched-link mt-3"> Checkout and Book <i class='mx-1 fas fa-angles-right'></i></a>
                    </div>
                </div>
            `
            })
            
        }
    }

</script>
{% endblock body %}