{% extends 'base.html' %}


{% block title %}
    {{request.user.username}}
{% endblock title %}
    

{% block body %}


<div class="container-fluid w-100 my-5">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card mb-4 mb-lg-0">
      <div class="card-body p-0">
        <ul class="list-group list-group-flush rounded-3">
          <li class="list-group-item d-flex justify-content-between align-items-center p-3">
            <div class="col">
              <div class="form-outline">
                <input value="{{doc.bio|default_if_none:''}}" name="bio" type="text" id="form3Example1" class="form-control" />
                <label class="form-label" for="form3Bio">bio</label>
              </div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center p-3">
            <div class="col">
              <div class="form-outline">
                <textarea name="coverletter" rows="10" id="form3Example1" class="form-control" >{{doc.coverletter|default_if_none:''}}</textarea>
                <label class="form-label" for="form3Bio">coverletter</label>
              </div>
            </div>
          </li>
          
          
          <li class="list-group-item justify-content-between align-items-center p-3">
            <div class="row">
              
              <div class="dropdown mb-4">
                <div
                  class="dropdown-toggle d-flex align-items-center hidden-arrow"
                  id="specializationMenuAvatar"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                >
                <div class="form-outline">
                  <input value="{{doc.specialization|default_if_none:''}}" name="specialization"  type="text" id="form3specialization" class="form-control" />
                  <label class="form-label" for="form3Bio">specialization</label>
                </div>
                </div>
                <ul
                  class="dropdown-menu w-100"
                  aria-labelledby="specializationMenuAvatar"
                >
                
                {% for specialization in specializations %}  
                  <li>
                    <div onclick="changeValId('{{specialization.name}}', 'form3specialization')" class="dropdown-item">
                      <img src="{{specialization.icon.url}}" width="25px" alt="">
                      <span class="mx-3">{{specialization.name}}</span>
                    </div>
                  </li>
                {% endfor %}
                </ul>
              </div>

              <!-- <div class="col-6">
                <div class="form-outline">
                  <input value="{{doc.specialization.faculty}}" name="faculty" type="text" id="form3Example2" class="form-control" >
                  <label class="form-label" for="form3Example2">faculty ex: كلية الطب</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-outline">
                  <input value="{{doc.specialization.university}}" name="university" type="text" id="form3Example2" class="form-control" >
                  <label class="form-label" for="form3Example2">university ex: جامعة القاهرة</label>
                </div>
              </div> -->




              
              
            </div>
          </li>

          
          
          
          <li class="list-group-item justify-content-between align-items-center p-3">
            <div id="skillsLi">

            {% for skill in doc.skills.all %}
            <div class="row my-4">





              <div class="col-4">
                <div class="dropdown mb-4">
                <div
                  class="dropdown-toggle d-flex align-items-center hidden-arrow"
                  id="SkillTypesMenuAvatar"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                >
                <div class="form-outline">
                  <input value="{{skill.type}}" name="skill_type"  type="text" id="form3skill_type'{{skill.type}}'" class="form-control" />
                  <label class="form-label" for="form3Bio">skill type</label>
                </div>
                </div>
                <ul
                  class="dropdown-menu w-100"
                  aria-labelledby="SkillTypesMenuAvatar"
                >
                
                {% for type in SkillTypes %}  
                  <li>
                    <div onclick="changeValId('{{type.name}}', `form3skill_type'{{skill.type}}'`)" class="dropdown-item">
                      <span class="mx-3">{{type.name}}</span>
                    </div>
                  </li>
                {% endfor %}
                </ul>
              </div>
              </div>








              <div class="col-8 mb-4">
                <div class="form-outline">
                  <input value="{{skill.name}}" name="skill" type="text" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2">skill</label>
                </div>
              </div>
              <div class="col-12 mb-4">
                <div class="form-outline">
                  <input value="{{skill.date|date:'Y-m-d' }}" name="skill_date" type="date" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2">date</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-outline">
                  <input value="{{skill.certificate}}" name="certificate" type="file" id="form3Example2" class="form-control" />
                  <label class="form-label" for="form3Example2">certificate</label>
                </div>
              </div>
              
            </div>
            <hr>
              {% endfor %}

              


            </div>

            <div class="d-block">
              <button type="button" onclick="addSkill()" class="btn btn-success" style="float: right;">Add a new Skill or certificate</button>
            </div>
          </li>
        </ul>
      </div>
    </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Save</button>
      
      
  </form>
</div>

<script>
  function addSkill(){
    var skillsLi = null;
    skillsLi = document.getElementById('skillsLi');
    skillsLi.innerHTML += `
    <div class="row my-4">
                <div class="col-4">
                  <div class="dropdown mb-4">
                  <div
                    class="dropdown-toggle d-flex align-items-center hidden-arrow"
                    id="SkillTypesMenuAvatar"
                    role="button"
                    data-mdb-toggle="dropdown"
                    aria-expanded="false"
                  >
                  <div class="form-outline">
                    <input value="" name="skill_type"  type="text" id="form3skill_type" class="form-control" />
                    <label class="form-label" for="form3Bio">skill type</label>
                  </div>
                  </div>
                  <ul
                    class="dropdown-menu w-100"
                    aria-labelledby="SkillTypesMenuAvatar"
                  >
                  
                  {% for type in SkillTypes %}  
                    <li>
                      <div onclick="changeValId('{{type.name}}', 'form3skill_type')" class="dropdown-item">
                        <span class="mx-3">{{type.name}}</span>
                      </div>
                    </li>
                  {% endfor %}
                  </ul>
                </div>
                </div>
                <div class="col-8 mb-4">
                  <div class="form-outline">
                    <input value="" name="skill" type="text" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">skill</label>
                  </div>
                </div>
                <div class="col-12 mb-4">
                  <div class="form-outline">
                    <input value="" name="skill_date" type="date" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">date</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-outline">
                    <input value="" name="certificate" type="file" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">certificate</label>
                  </div>
                </div>
                <hr>
              </div>
    `;
  }


  function changeValId(val, id){
    document.getElementById(id).value = val;
  }
</script>
{% endblock body %}
    