.btn {
    padding: .55rem 1.5rem .45rem;
  }
.brand-color {
    color: rgb(238, 62, 56);
}
.brand-bg:hover{
    color: rgb(238, 62, 56) !important;
}
.brand-bg {
    background-color: rgb(238, 62, 56);
}
.child-arrow{
    transition: all .3s ease-in-out;
}
.child-arrow:hover i{
    margin-left: 10px;
    transition: all .3s ease-in-out;
}
.outline-none{
    outline: none !important;
    border: none !important;
}